
<div class="row">
	<div class="col-xs-3">

		<h2>User info</h2>
		<%= render 'users/profile',user: @user %>

		<h2>New book</h2>
		<%= render 'books/newform',book: @book_new %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class="table">
				<tr>
						<span>
							<%= render 'books/book', book: @book %>
						</span>

					<% if @user == current_user %>
						<td><%= link_to "Edit",edit_book_path(@book), class: "btn-sm btn-success edit_book_#{@book.id}" %></td>
						<td><%= link_to "Destroy",@book, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@book.id}" %></td>
					<% end %>
				</tr>
			</table>

			<table>
				<tbody id="js-table-comment">
						<%= render 'book_comments/comment_area', book_comments: @book_comments %>
				</tbody>
			</table>

			<%= form_with(model:[@book, @book_comment], remote: true) do |f| %>
					<% if @book_comment.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@book_comment.errors.count, "error") %> prohibited this book from being saved:</h2>

				      <ul>
				      <% @book_comment.errors.full_messages.each do |message| %>
				        <li><%= messages %> <li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>
				<div>
					<%= f.text_area :comment ,class: "col-lg-9 book_comment_comment　form-control" %>
					<span><%= f.submit '送信',id: "comment_body", class: "btn btn-default btn-xs" %></span>
				</div>
			<% end %>
	</div>
</div>

